html{
	overflow-y: hidden;

}

body{
	display: table;

	width: 100vw;
	height: 100vh;
	background-image: url("../wallpaper/future.gif");
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0px;
	padding: 0px;
}

textarea{
	/*margin-left:750px;
	margin-top: 100px;*/
	box-sizing: border-box;
	
	margin-left: 35%;
	margin-top: auto;
}

h1{
	/*margin-left: 700px;
	margin-top: 200px;*/
	margin-left: 30%;
	margin-top: 20%;
	text-shadow: 0 0 0.2em #40FF40, 0 0 0.2em #40FF40,0 0 0.2em #40FF40;
}

.btn_normalize{
	margin: 0px;
	padding: 0px;
}

#layout{
	color: white;
	/*margin-left: 800px;
	height: auto;*/
	margin-left: 39%;/*43*/
	height: auto;
	text-shadow: 0 0 0.2em #40FF40, 0 0 0.2em #40FF40,0 0 0.2em #40FF40;
}

@media screen and (min-width:1085px){
	h1{
		margin-top: 15%;
		margin-left: 36%;
	}

	textarea{
		margin-left: 40%;
	}

	#layout{
		margin-left: 43%;
	}

}



